@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: aqua;
}
nav{
    margin: 20px;
}
h1{
    margin: 20px;
}
a{
    margin: 30px;
}
p{
    margin: 10px;
}
ul>li{
    margin: 20px;
}